<div class="home-container" ng-controller="HomeController as homeController">
	<div id="fullpage">
	    <div class="section section1">
	        <div class="section1-title">Citrix Charts</div>
	        <div class="section1-subtitle">Work Better, Live Better.</div>
	    </div>
	    <div class="section section2 row">
		    <div class="col-md-5 col-sm-5 col-xs-12">
		    	<div class="section2-title">Easily create online charts</div>
		    	<div class="section2-subtitle">Create smashing, interactive diagrams for your news site or blog, or for sharing with your friends on social media.</div>
	    	</div>
		    <div class="col-md-7 col-sm-7 col-xs-12">
		    	<img class="section2-img" src="http://o365oauth.cloudapp.net/images/2.jpg" />
		    </div>
	    </div>
	    <div class="section section3 row">
	    <div class="section3-bg"></div>
	        <div class="col-md-7 col-sm-7 col-xs-12">
	        	<img class="section3-img" src="http://o365oauth.cloudapp.net/images/4.jpg" />
	        </div>
	        <div class="col-md-5 col-sm-5 col-xs-12">
	        	<div class="section3-title">Create all kinds of charts</div>
		    	<div class="section3-subtitle">Citrix Charts include all kinds of charts, which will be the simplest yet most flexible charts  on the market for developers and companies.</div>
	        </div>
	    </div>
	    <div class="section section4">
	        <div class="section4-title">Abundant visible and visualized results</div>
	        <div class="section4-subtitle">Meet the needs of different data process, present your data  personalized and perfect.</div>
	        <div class="section4-image-area">
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/1.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/2.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/3.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/4.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/5.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/6.png" />
		        <img class="section4-img" src="http://o365oauth.cloudapp.net/images/7.png" />
	        </div>
	        <a href="examples" class="start-btn">Examples</a>
	    </div>
	</div>
</div>